<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	cacheResult="false"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
	<php>
		<env name="WORDPRESS_TABLE_PREFIX" value="wp_" />
	</php>
	<testsuites>
		<testsuite name="default">
			<directory prefix="test_" suffix=".php">tests/phpunit/</directory>
		</testsuite>
	</testsuites>
</phpunit>